<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Starter Kit</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@900&display=swap"
      rel="stylesheet"
    />
   
    <link rel="stylesheet" href="./starterstyles.css" >
  </head>
  <body>
    <div class="overlay"></div>
    <main>
      <div class="heading">
        <h1>STARTER KIT</h1>
      </div>
      <div class="cards">
        <div class="container">
          <div class="row">
            <div class="col-12 col-lg-4" onclick="location.href='./academics.html'">
              <div class="my-card my-card-1">
                <div class="card-overlay"></div>
                <div class="card-title text-light">ACADEMICS</div>
              </div>
            </div>
            <div class="col-12 col-lg-4" onclick="location.href='./facilities.html'">
              <div class="my-card my-card-2">
                <div class="card-overlay"></div>
                <div class="card-title text-light">FACILITIES</div>
              </div>
            </div>
            <div class="col-12 col-lg-4" onclick="location.href='./foodjoints.html'">
              <div class="my-card my-card-3">
                <div class="card-overlay"></div>
                <div class="card-title text-light">FOOD JOINTS</div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-lg-4" onclick="location.href='./lifebefore5.html'">
              <div class="my-card my-card-4">
                <div class="card-overlay"></div>
                <div class="card-title text-light">LIFE BEFORE 5</div>
              </div>
            </div>
            <div class="col-12 col-lg-4" onclick="location.href='./lifeinp.html'">
              <div class="my-card my-card-5">
                <div class="card-overlay"></div>
                <div class="card-title text-light">LIFE IN PATIALA</div>
              </div>
            </div>
            <div class="col-12 col-lg-4" onclick="location.href='./socities.html'">
              <div class="my-card my-card-6">
                <div class="card-overlay"></div>
                <div class="card-title text-light">SOCIETIES</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
  <script
    src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
    integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js"
    integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/"
    crossorigin="anonymous"
  ></script>
</html>
