@font-face {
  font-family: "The-Bold-Font";
  src: url("./Images/theboldfont.ttf");
  font-style: normal;
}
@font-face {
  font-family: "Cocogoose";
  src: url("./Images/Cocogoose-Classic-Medium-trial.ttf");
  font-style: normal;
}
@font-face {
  font-family: "Adam-Light";
  src: url("./Images/Adam-Light.ttf");
  font-style: normal;
}
@font-face {
  font-family: "Adam-Medium";
  src: url("./Images/Adam-Medium.ttf");
  font-style: normal;
}
@font-face {
  font-family: "Adoria";
  src: url("./Images/Adoriademo-L3YmG.otf");
  font-style: normal;
}

@font-face {
  font-family: "BebasNeue";
  src: url("./images/BebasNeue-Regular.ttf");
  font-style: normal;
}
@font-face {
  font-family: "LemonMilk";
  src: url("./Images/LEMONMILK-Medium.otf");
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("./Images/Montserrat-Light.ttf");
  font-style: normal;
}

html {
  scroll-behavior: smooth;
  cursor: crosshair;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;

  background: #0f0f0f !important;
  color: #fff !important;
}

.whitespace {
  width: 100%;
  height: 100px;
}

@media (max-width: 768px) {
  .whitespace {
    display: none;
  }
}

/*--------------- navigation --------------- */
nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
  background: transparent;
  height: 80px;
  z-index: 2;
  position: absolute;
}

.nav-overlay {
  background-color: rgba(31, 40, 51, 0.4);
  height: 100%;
}

nav #brand {
  float: left;
  display: block;
  margin-left: 30px;
  margin-top: 10px;
  line-height: 80px;
  font-weight: bold;
}

.logo {
  width: 10rem;
}

nav #menu {
  float: right;
  margin-right: 30px;
  top: 0;
}

nav #menu li {
  padding-left: 40px;
  display: inline-block;
  cursor: pointer;
  font-weight: 300;
  line-height: 80px;
  position: relative;
  transition: all 0.3s ease-out;
}

nav #menu li span {
  font-weight: 700;
}

nav #menu li a {
  color: #fff;
  font-family: "LemonMilk";
  text-transform: uppercase;
  font-size: 1.3rem;
}

nav #menu li a:hover {
  text-decoration: none;
  color: #fff;
}

#toggle {
  position: absolute;
  right: 30px;
  top: 20px;
  font-weight: 300;
  z-index: 2;
  width: 30px;
  height: 30px;
  cursor: pointer;
  float: right;
  transition: all 0.3s ease-out;
  font-family: "LemonMilk";
  visibility: hidden;
  opacity: 0;
}

/* #toggle.on {
  display: none;
} */

.close-btn {
  position: absolute;
  right: 16px;
  font-weight: 300;
  z-index: 2;
  cursor: pointer;
  top: -2px;
  line-height: 80px;
  font-family: "LemonMilk";
}

/* #toggle-close.on {
  display: none;
} */

#resize {
  z-index: 110;
  top: 0px;
  position: fixed;
  background: #0f0f0f;
  width: 100vw;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  display: flex;
  flex-direction: column;

  transition: all 1s ease-out;
}

#resize #menu {
  height: 90px;
  position: absolute;
  left: 50%;
  transform: translate(-60%, -30%);
  text-align: center;
  display: table-cell;
  vertical-align: center;
}

#resize #menu li {
  display: block;
  text-align: center;
  padding: 10px 0;
  font-size: 1rem;
  min-height: 50px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

#resize li:nth-child(1) {
  margin-top: 140px;
}

#resize #menu li a {
  color: #fff;
  font-family: "LemonMilk";
  text-transform: uppercase;
  font-size: 1.7rem;
}

#resize #menu li a:hover {
  text-decoration: none;
}

#resize.active {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 1100px) {
  .nav {
    width: 100%;
  }

  #toggle {
    visibility: visible;
    opacity: 1;
    margin-top: 6px;
    margin-right: 4px;
  }

  #toggle.on {
    visibility: hidden;
  }

  nav #brand {
    margin-left: 24px;
  }

  #menu a {
    font-size: 3rem;
    font-weight: 300;
  }

  #resize li span {
    font-weight: bolder;
  }

  nav #menu {
    display: none;
  }
}

@media (min-width: 1100px) {
  #resize {
    visibility: hidden !important;
  }
}

/*--------------- hero section --------------- */
.hero {
  height: 100vh;
  overflow: hidden;
  width: 100vw;
}
#videoBG {
  z-index: 1;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.background-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  display: none;
}

@media (max-width: 768px) {
  .header h1 {
    font-size: 4rem;
  }
  .background-img {
    display: block;
  }
  .play {
    display: none;
  }
}

@media (max-width: 980px) {
  .header h1 {
    font-size: 6rem;
  }
}

@media (max-width: 460px) {
  .background-img {
    width: 80%;
  }
  .hero h1 {
    font-size: 4rem;
  }
}

@media (max-width: 300px) {
  .hero h1 {
    font-size: 3.5rem;
  }
}

.scroll-down {
  position: absolute;
  left: 50%;
  bottom: 100px;
  display: block;
  text-align: center;
  font-size: 20px;
  z-index: 0;
  text-decoration: none;
  text-shadow: 0;
  width: 20px;
  height: 20px;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  -webkit-transform: translate(-50%, 0) rotate(45deg);
  animation: fade_move_down 3s cubic-bezier(0.19, 1, 0.22, 1) infinite;
}

@keyframes fade_move_down {
  0% {
    transform: translate(0, -20px) rotate(45deg);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate(0, 20px) rotate(45deg);
    opacity: 0;
  }
}

/*----------------aboout section-------------------*/

.about-section {
  padding: 0;
  background: url("Images/wallpapersden.com_geometry-rectangle-digital-art_1920x1080.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100vw;
}
.overlay {
  background-color: rgba(31, 40, 51, 0.4);
  height: 100%;
  padding: 80px 0;
}

.about-section .container {
  display: flex;
}
.about-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.vertical {
  display: flex;
  flex-direction: column;
}

.vertical span {
  font-size: 4rem;
  font-family: "LemonMilk";
  text-align: center;
  text-transform: uppercase;
}

/* .about-section h1 {
  font-size: 4rem;
  font-family: "Adoria";
  text-transform: uppercase;
  color: #fff;
} */
.about-content {
  background-color: rgba(49, 49, 49, 0.9);
  border-radius: 10px;
  padding: 1rem;
  flex: 2;
}

.about-section h3 {
  font-family: "BebasNeue";
  padding-left: 0;
  margin-bottom: 20px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  font-size: 3rem;
}

p {
  /* color: #fff; */
  font-size: 1.1rem;
  text-align: center;
  font-family: "Montserrat";
  font-weight: bold;
}

@media (max-width: 300px) {
  .about-section h1 {
    font-size: 4rem;
  }
  .about-section h3 {
    font-size: 1.5rem;
  }
}

/*--------------- events section --------------- */
section.events {
  /* margin: 8rem 5rem; */
  padding: 80px 0;
  background: url("Images/hiii.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  border-radius: 15px;
}

.event {
  border-radius: 15px;
}
.container .card {
  position: relative;
  width: 350px;
  height: 300px;
  background-color: #fff;
  overflow: hidden;
  border-radius: 10px;
  /* margin: 2rem 3rem; */
}
.container .card:before {
  content: "";
  z-index: 99;
  position: absolute;
  top: -10px;
  left: 32px;
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 16px;
  background-color: #e6e5e1;
}
.container .card:after {
  content: "";
  z-index: 99;
  position: absolute;
  bottom: -10px;
  left: 32px;
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 16px;
  background-color: #e6e5e1;
}

.container .card h2 {
  z-index: 101;
  font-family: "LemonMilk";
  text-transform: uppercase;
  position: absolute;
  bottom: 0;
  left: 55%;

  font-size: 2rem;
  font-weight: 700;
  color: #fff;
}
.card2 h2 {
  width: 30%;
}

.container .card p {
  z-index: 99;
  position: absolute;
  top: 10px;
  right: -5px;
  color: #333;
  opacity: 0.7;
  font-size: 0.8rem;
  letter-spacing: 1px;
  writing-mode: vertical-lr;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.container .card .pic {
  z-index: 98;
  width: 470px;
  height: 300px;
  background-image: url("Images/DSC_0969-2.jpg");
  background-size: 100% 100%;
  filter: grayscale(100%);
}

.container .card button {
  position: absolute;
  right: 14px;
  bottom: 14px;
  width: 30px;
  height: 30px;
  background-color: #da4d1d;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease;
  mix-blend-mode: hard-light;
  z-index: 100;
}

.container .card:hover button {
  transform: scale(15);
}
.container .card:hover p {
  /* color: #fff; */
  display: none;
}
.container .card:hover .pic {
  filter: grayscale(0);
}
.container .card2 .pic {
  background-image: url("Images/Thapar.png");
}
.container .card2 button {
  background-color: #2b26c3;
}
.dr {
  position: absolute;
  bottom: 16px;
  right: 16px;
  width: 100px;
}

section.our_identity {
  padding: 80px 20px;
  width: 100vw;
  overflow: hidden;
  background: url("./Images/1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.identity-container {
  display: flex;
  flex-direction: column;
}

.frosh-heading {
  font-size: 10rem;
  font-family: "LemonMilk";
  text-transform: uppercase;
  display: flex;
  justify-content: space-around;
}

.frosh-heading span {
  width: 20%;
  text-align-last: center;
}
.identity-content {
  display: flex;
}

.identity-content .text {
  padding: 0 1rem;
  width: 20%;
}
.identity-content .text h4 {
  text-align: center;
  font-size: 1.5rem;
  font-family: "BebasNeue";
  text-transform: uppercase;
}

.identity-content .text p {
  font-size: 0.9rem;
  font-family: "Montserrat";
}

.card-container {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
}
.card {
  font-weight: bold;
  padding: 1em;
  /* text-align: center; */
  color: #181a1a;

  width: 400px;
  height: 250px;
  box-shadow: 0 1px 5px #00000099;

  border-radius: 10px;
  background-image: url("./Images/Thapar.png");
  background-size: cover;

  position: relative;
  justify-content: center;
  align-items: center;

  transition-duration: 300ms;
  transition-property: transform, box-shadow;
  transition-timing-function: ease-out;
  transform: rotate3d(0);
  color: #fff;
}

.card:hover {
  transition-duration: 150ms;
  box-shadow: 0 5px 20px 5px #00000044;
}

.card .glow {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;

  background-image: radial-gradient(circle at 50% -20%, #ffffff22, #0000000f);
}

.grid {
  display: flex;
  gap: 2.2em;
  justify-content: space-between;
  grid-template-columns: repeat(3, 1fr);
}
.card {
  height: 300px;
  width: 3700px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3), 0 10px 20px rgba(0, 0, 0, 0.2);
  border-radius: 1em;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.c-1 {
  background: url("https://images8.alphacoders.com/658/thumb-1920-658228.jpg")
    no-repeat center/cover;
}
.c-2 {
  background: url("https://images7.alphacoders.com/914/thumb-1920-914709.jpg")
    no-repeat center/cover;
}
.c-3 {
  background: url("https://images.alphacoders.com/100/thumb-1920-1002775.jpg")
    no-repeat center/cover;
}

.gif-container {
  position: absolute;
  width: 0%;
  height: 0%;
  border-radius: 1em;

  transition: width 0.3s linear, height 0.3s linear;

  overflow: hidden;
}
.card:hover .gif-container {
  width: 100%;
  height: 100%;
}
.gc-1 {
  top: 0;
  left: 0;
}
.gc-2 {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.gc-3 {
  bottom: 0;
  right: 0;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/*------------------team-section-------------- */
section.team {
  padding: 80px 0;
  background: url("./Images/Backgroundt.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.team__container {
  padding: 20px;
}

.team-heading {
  text-align: center;
  margin-bottom: 0;
  font-family: "LemonMilk";
  text-transform: uppercase;
}

.team-heading h1 {
  font-size: 4rem;
}
.team_content {
  margin-top: 0;
  text-align: center;
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

.team_content p {
  font-size: 1.2rem;
  color: #fff;
  font-family: "Montserrat";
  background-color: rgba(49, 49, 49, 0.6);
  border-radius: 10px;
  padding: 1rem;
  width: 82%;
  align-items: center;
  margin: 0 auto;
}

.team_cards {
  display: flex;
  width: 80%;
  gap: 2rem;
  margin: 3rem auto;
  justify-content: space-between;
}

.box-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* padding: 35px 15px; */
  width: 80%;
  gap: 3rem;
  /*margin: 40px auto;*/ 
}

@media screen and (min-width: 1380px) {
  .box-container {
    flex-direction: row;
  }
}

.box-item {
  position: relative;
  -webkit-backface-visibility: hidden;
  width: 20rem;
  height: 30rem;
  margin-bottom: 35px;
  max-width: 100%;
}

.flip-box {
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  perspective: 1000px;
  -webkit-perspective: 1000px;
  margin-right: 3rem;
  /* height: 10rem; */
}

.flip-box-front,
.flip-box-back {
  background-size: cover;
  background-position: center;
  border-radius: 15px;
  min-height: 25rem;
  -ms-transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  -webkit-transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-box-front {
  -ms-transform: rotateY(0deg);
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.flip-box:hover .flip-box-front {
  -ms-transform: rotateY(-180deg);
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.flip-box-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  -ms-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.flip-box:hover .flip-box-back {
  -ms-transform: rotateY(0deg);
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.flip-box .inner {
  position: absolute;
  left: 0;
  width: 100%;
  padding: 60px;
  outline: 1px solid transparent;
  -webkit-perspective: inherit;
  perspective: inherit;
  z-index: 2;

  transform: translateY(-50%) translateZ(60px) scale(0.94);
  -webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
  -ms-transform: translateY(-50%) translateZ(60px) scale(0.94);
  top: 50%;
}

.flip-box-header {
  font-size: 2rem;
  font-family: "LemonMilk";
  text-transform: uppercase;
}

.flip-box-img {
  margin-top: 25px;
}

/* .flip-box-button {
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 2px;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  margin-top: 25px;
  padding: 15px 20px;
  text-transform: uppercase;
} */

/* .contact_container {
  width: 80%;
  margin: 20px auto;
  display: flex;
}

.column {
  width: 50%;
  height: 100vh;
  border: 1px solid rgba(255, 255, 255, 0.3);
  margin: 20px;
  border-radius: 20px;
}

.right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  padding: 0 0 100px 0;
  font-family: Helvetica;
  border: none;
}

.header h1 {
  text-transform: uppercase;
  font-size: 5rem;
  font-weight: 300;
  flex-grow: 1;
}

.ml12 .letter {
  display: inline-block;
  line-height: 1em;
}

.left {
  padding: 30px;
}

.form input {
  width: 100%;
  background: none;
  border: none;
  border-bottom: 1px solid rgb(104, 104, 104);
  outline: none;
  padding: 20px 20px 20px 20px;
  margin: 5px 0px;
  color: #fff;
  font-family: Helvetica;

  font-size: 14px;
  font-weight: 400;
}
.form textarea {
  width: 100%;
  margin-top: 1.2rem;
  background: none;
  border: 1px solid rgb(104, 104, 104);
  padding: 20px 20px 20px 20px;
  color: #fff;
}

.form-row {
  display: flex;
}

.send_btn {
  width: 100%;
  margin: 40px 0;
  padding: 10px 0;
  
  color: #0d0d0d;
  text-transform: uppercase;
  font-size: 14px;
  border: none;
  outline: none;
  font-weight: 400;
  border-bottom: none;
} */
.contact-us {
  background: url("./Images/vector-JUL-2020-88.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* height: 100vh; */
}

.contact-us h1 {
  margin-top: 3rem;
  font-family: "LemonMilk";
  text-transform: uppercase;
}
.identity-overlay {
  background-color: rgba(31, 40, 51, 0.4);
  height: 100%;
}

.overlay-2 {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: rgba(31, 40, 51, 0.9);
}

.contact-content {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 0;
  margin-top: 0;
}

.contact-us .container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.contact-us input {
  height: 50px;
}

.contact-us input {
  background: #1f2833;
  border: none;
  width: 100%;
  padding: 10px;
  outline: none;
  color: white;
  border-radius: 10px;
}

.contact-us textarea {
  border-radius: 10px;
  background: #1f2833;
  border: none;
  width: 100%;
  padding: 10px;
  outline: none;
  color: white;
  resize: none;
}

.contact-us input:hover {
  background: #1f2833;
}

.contact-us button {
  font-size: 1.3rem;
  padding: 10px 60px;
  border: 2px solid #fff;
  color: #1f2833;
  border: none;
  border-radius: 25px;
}

@media (max-width: 900px) {
  .right {
    display: flex;

    flex-direction: column;
    justify-content: space-between;
  }

  .column {
    width: 94% !important;
  }
}

@media (min-width: 900px) {
  .container {
    display: flex;
  }
  .right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
.event-box {
  /* min-height: 5rem; */
  height: 10rem;
  min-width: 20rem;
}

.footer {
  /* margin: 8rem; */
  padding: 3rem 0;
  position: relative;
  height: auto;
  background: url("./Images/ffe715deaef936ef0490983a59013223.jpg");
  background-size: cover;
  background-attachment: fixed;
}

.footer_container {
  display: flex;
  gap: 3rem;
  margin: 3rem auto;
  /* margin-bottom: 20rem; */
  height: 50%;
  width: 70%;
  flex-direction: column;
}
.FROSH {
  margin-top: 1rem;
  flex: 1;
  align-items: center;
}

.FROSH h4 {
  font-size: 1.5rem;
  font-family: "LemonMilk";
  text-align: center;
}

.lead {
  width: 100%;
  /* text-align: center; */
}

.follow {
  margin-top: 1rem;
  flex: 1;
  font-family: "LemonMilk";
  text-align: center;
}

.lead {
  padding: 0;
  font-family: "Montserrat";
}

.links {
  display: flex;
  justify-content: space-around;
  font-size: 1.2rem;
  text-decoration: none;
  margin-top: 4rem;
}

.links a {
  text-decoration: none;
  text-align-last: center;
  color: white;
  padding: 10px;
  width: 100px;
  transition: 0.4s;
  font-family: "Montserrat";
}
.links a:hover {
  color: #fff;
  text-decoration: none;
}
.links a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #fff;
  transition: width 0.3s;
}

.links a:hover::after {
  width: 100%;
  transition: width 0.3s;
  color: #fff;
}

.footer p {
  font-size: 1rem;
  text-align: center;
  font-family: "Montserrat";
}

.end {
  width: 100%;
  margin-top: 2rem;
}

p.copyright {
  text-align: center;
  font-size: 1.4rem;
  font-family: "Montserrat";
}

p.mentors {
  font-size: 1.4rem;
  text-align: center;
  font-family: "Montserrat";
}


.content_container{
  display: flex;
  gap: 2rem;
}

@media screen and (max-width: 992px) {
  .about-section .container {
    flex-direction: column;
  }

  .about-section h3 {
    font-size: 2rem;
  }

  .events .container {
    flex-direction: column;
  }
  nav {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    background: transparent;
    height: 80px;
    position: fixed;
    z-index: 999;
  }
  .container .card {
    position: relative;
    width: 300px;
    height: 200px;
    background-color: #fff;
    overflow: hidden;
    /* margin: 2rem 3rem; */
  }
  .container .card p {
    visibility: hidden;
  }

  .container .card .pic {
    width: 300px;
    height: 200px;
  }

  .container .card h2 {
    left: 43%;
    text-align: right;
    width: 40%;
    font-size: 1.5rem;
  }
  .container .card:hover button {
    transform: scale(9.5);
  }

  .team {
    padding-bottom: 0;
  }

  .team-heading {
    font-size: 1.4rem;
  }

  .team_content p {
    font-size: 1rem;
    color: grey;

    width: 100%;
  }

  .box-container {
    flex-direction: column;
    align-items: center;
    width: 80%;
    /* gap: 2rem; */
    margin: 40px 25px;
    justify-content: center;
  }

  .contact_container {
    flex-direction: column;
    width: 100%;
  }
  .left {
    order: 2;
  }
  .right {
    order: 1;
    padding-bottom: 0;
  }

  .right h1 {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .footer {
    margin: 0;
    background-size: cover;
    padding: 0;
    margin-top: 0;
    height: 80%;
  }

  .footer_container {
    flex-direction: column;
    margin-top: 0;
    padding-top: 2rem;
    height: auto;
  }

  .content_container{
    flex-direction: column;

  }

  .FROSH {
    width: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
  }

  .frosh {
    /* margin: 0 auto; */
    width: 100%;
    text-align: center;
  }

  .lead {
    width: 100%;
    /* margin: 0 auto; */
    text-align: center;
  }

  .follow {
    width: 100%;
    text-align: center;
  }

  .follow p {
    margin: 0 auto;
    /* width: 100%; */
    text-align: center;
    margin-bottom: 0.5rem;
  }

  .links {
    width: 43%;
    flex-direction: column;
    margin: 2rem auto;
    text-align: center;
  }

  .column {
    height: 80vh;
  }

  .our-identity .container {
    flex-direction: column;
  }
  .identity {
    flex-direction: column;
  }

  .our-identity h4 {
    font-size: 1.5em;
    /* font-family: "Adoria"; */
  }

  .frosh-heading span {
    text-align: center;
  }
  .identity p {
    width: 70%;
    margin: 0 auto;
    /* font-family: "Adam-Medium"; */
    font-size: 1rem;
  }
  .vertical {
    flex-direction: row;
  }
  .identity-container {
    flex-direction: row;
  }

  .frosh-heading {
    flex-direction: column;
    font-size: 4rem;
  }

  .identity-content {
    flex-direction: column;
    width: 100%;
  }
  .identity-content .text {
    width: 100%;
    margin-top: 1rem;
  }
}
.tagline{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "LemonMilk";
  color: #fff;
  text-transform: uppercase;
  width: 100%;
  z-index: 2;

}

.tagline p{
  font-size: 3rem;
}

@media screen and (max-width: 992px){
  .tagline p{
    font-size: 2rem;
  }
}

@media screen and (max-width: 768px){
  .footer{
    height: 90%;
  }
  .footer_container{
    height: 70%;
  }
}